@use "@/styles/mixin.scss" as *;

.scroll {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    align-items: center;
    border: 2px solid;
    border-radius: 8px;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    justify-content: center;
    line-height: 24px;
    padding: .85rem 1rem;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    transition: .2s ease-out;

    &.dark {
        background-color: #111;
        border-color: #000;
        color: $white;

        svg {
            path {
                fill: $white;
            }
        }
    }

    &.light {
        background-color: $white;
        border-color: $primary;
        color: $primary;

        svg {
            path {
                fill: $primary;
            }
        }
    }

    &.clicked {
        font-weight: $font-bold;
    }

    &:hover {
        outline: 0;
        font-weight: $font-bold;
    }
}


// .button-56:active {
//     background-color: #ffdeda;
//     outline: 0;
// }

// @media (min-width: 768px) {
//     .primary {
//         padding: 0 40px;
//     }
// }