@use "@/styles/mixin.scss" as *;

.secondary {
    font-size: $font-md;
    font-weight: 600;
    background: transparent;
    border: none;
    // border: 2px solid;
    // border-radius: 8px;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    height: fit-content;
    justify-content: center;
    line-height: 24px;
    // padding: 0 16px;
    position: relative;
    text-align: center;
    width: fit-content;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    // transform: translateZ(0);
    transition: .2s ease-out;

    &.dark {
        color: $white;
        border-color: $white;
    }

    &.light {
        color: $primary;
        border-color: $primary;
    }

    &:hover,
    &:active {
        // transform: scale(1.1);
        animation: bounce 0.4s ease;
    }
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    30% {
        transform: translateY(-4px);
    }

    60% {
        transform: translateY(2px);
    }

    100% {
        transform: translateY(0);
    }
}