@use "@/styles/mixin.scss" as *;

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

    overflow-y: auto;
    // padding: 2rem 1rem;
}

.modal {
    max-width: 600px;
    overflow: auto;
    max-height: 90vh;
    padding: 2rem;
    border-radius: 8px;
    position: relative;
    width: calc(100% - 2rem);
    border: 2px solid;

    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE 10+ */

    &::-webkit-scrollbar {
        display: none;
        /* Chrome, Safari, Opera */
    }

    .modaltitle {
        text-transform: uppercase;
        line-height: 32px;
    }

    &.dark {
        background: #222;
        border-color: #111;
        box-shadow: 6px 8px 0 $bg-black;

        svg {
            path {
                fill: $white;
            }
        }
    }

    &.light {
        background: $white;
        border-color: $primary;
        box-shadow: 6px 8px 0 $primary;

        svg {
            path {
                fill: $primary;
            }
        }
    }
}

.closeBtn {
    position: absolute;
    top: .75rem;
    right: 1.25rem;
    font-size: 1.5rem;
    background: none;
    border: none;
    cursor: pointer;
}

.contentwrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    height: calc(100% - 1.5rem);
}

.content {
    height: 100%;
    overflow-y: auto;
}

@include mobile {
    .modal {
        max-height: unset;
        max-width: unset;
        height: 100vh;
        width: 100vw;
        border-radius: 0;
        border: 0;

        .modaltitle {
            font-size: 18px;
            line-height: 24px;
        }
    }

    .contentwrapper {
        margin-top: 24px;
    }
}

@include mobile_sm {
    .modal {
        padding: 1rem;
        padding-bottom: 1.5rem;
    }
}