@use "@/styles/mixin.scss" as *;

.wrapper {
    // height: 100vh;
    scroll-snap-align: start;
    // overflow: hidden;
    padding: 72px 0;
}

.content {
    display: grid;
    gap: 64px;
    height: 100%;
    max-width: 720px;
    // border: 1px solid black;

    h2 {
        font-size: 72px;
        font-weight: 300;
        line-height: 96px;
    }
}

.section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.projects {
    -webkit-overflow-scrolling: touch;
    height: fit-content;
    // padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    flex-shrink: 0;
    width: 100%;
}

.projectItem {
    width: calc((100% - 24px) / 2);
    height: fit-content;
    border: 2px solid;
    padding: 1rem;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    // transition: .2s ease-out;
    // cursor: pointer;

    h4 {
        text-transform: uppercase;
        line-height: 24px;
    }

    .banner {
        display: flex;
        justify-content: center;
        overflow: hidden;
        height: 180px;
        width: 100%;
        border: 2px solid;
        border-radius: 8px;
        position: relative;
        // aspect-ratio: 16 / 9;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .learn {
        height: fit-content;
        padding: 8px;
        transition: .2s ease-out;
        font-size: $font-xs;
        line-height: 16px;
        display: flex;
        align-items: center;
        gap: 6px;

        svg {
            height: 12px;
            width: auto;
            // margin-bottom: -2px;
            // transform: rotate(-45deg);

            path {
                fill: $primary;
            }
        }


        &::after {
            content: none;
        }

        &:hover,
        &:active {
            transform: scale(1.1);
        }
    }

    &.light {
        border-color: $primary;
        background-color: $white;
        box-shadow: 6px 8px 0 $primary;

        .banner {
            border-color: $primary;
        }
    }

    &.dark {
        border-color: #111;
        background-color: #222;
        box-shadow: 6px 8px 0 $bg-black;

        .banner {
            border-color: #111;
        }

        .learn {
            background-color: #111;

            svg {

                path {
                    fill: $white;
                }
            }
        }
    }

    // &:hover {
    //     box-shadow: 0 0 0 $secondary;
    // }
}

.labels {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;

    .label {
        display: flex;
        align-items: center;
        gap: 4px;

        // border: 2px solid $primary;
        border-radius: 6px;
        padding: 8px;
        width: fit-content;

        p {
            font-size: $font-xs;
            line-height: 18px;
        }

        .logo {
            height: 18px;
            width: 18px;
            position: relative;

            img {
                height: auto;
                width: 100%;
            }
        }

    }
}

.frame,
.projects {
    -webkit-overflow-scrolling: touch;
    scrollbar-width: thin;
}

.custommodal {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .modalBanner {
        display: flex;
        justify-content: center;
        overflow: hidden;
        height: 260px;
        width: 100%;
        border: 2px solid;
        border-radius: 8px;
        position: relative;
        aspect-ratio: 16 / 9;

        img {
            // margin-bottom: -10px;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .modalTools {
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }

    .etc {
        display: flex;
        gap: .5rem;
        align-items: center;

        .status {
            font-size: $font-xs;
            line-height: 16px;
            border-radius: 6px;
            padding: 8px;
            font-weight: $font-semibold;

            &.positive {
                background-color: rgba($info-positive, 0.3);
                color: $info-positive;
            }

            &.negative {
                background-color: rgba($info-negative, 0.3);
                color: $info-negative;
            }

            &.info {
                background-color: rgba($info-primary, 0.3);
                color: $info-primary;
            }

            &.disabled {
                background-color: rgba($text-disable, 0.3);
                color: $primary;
            }
        }

        .link {
            font-size: $font-xs;
            line-height: 16px;
            border-radius: 6px;
            padding: 8px;

            color: $white;
            background-color: $info-indigo;
            transition: .2s ease-out;

            display: flex;
            gap: 6px;
            align-items: center;

            svg {
                height: 12px;
                width: auto;

                path {
                    fill: $white;
                }
            }

            &::after {
                content: none;
            }

            &:hover,
            &:active {
                box-shadow: none;
                background-color: #6f42c1;
                font-weight: $font-semibold;
            }
        }
    }

    &.dark {
        .modalBanner {
            border-color: #111;
        }
    }

    &.light {
        .modalBanner {
            border-color: $primary;
        }
    }
}

.dark {
    .label {
        background-color: black;
    }
}

.light {
    .label {
        background-color: $info-disable;

        // p {
        //     color: $white;
        // }
    }
}

@include mobile {
    .content {
        h2 {
            font-size: 40px;
            line-height: 56px;
            font-weight: 400;
        }
    }

    // .custommodal {
    //     .modalBanner {
    //         height: 200px;
    //     }
    // }
}

@include mobile_sm {
    .projectItem {
        width: 100%;
    }

    .projectItem {
        .banner {
            height: 240px;
        }
    }

    .custommodal {
        .modalBanner {
            height: 240px;
        }
    }
}

@include mobile_xs {
    .projectItem {
        .banner {
            height: 160px;
        }
    }

    .custommodal {
        .modalBanner {
            height: 160px;
        }
    }
}